<div>
  <app-modal-window
    *ngIf="showModalFlag"
    [modalMessage]="modalMessage"
    (closeEvent)="routerPushButtonEvent()"></app-modal-window>
  <app-header> </app-header>
  <div class="registration_container">
    <form
      class="registration_form"
      (ngSubmit)="onSubmit()"
      [formGroup]="formDataRegistration">
      <legend class="title">Registration</legend>
      <fieldset class="registration_fieldset">
        <label class="label">
          Name
          <input
            id="name"
            class="input"
            type="text"
            required
            formControlName="name" />
          <div
            class="alert"
            *ngIf="name.invalid && (name.dirty || name.touched)">
            <p *ngIf="name.errors?.['required']">
              {{ registrationTemplateStrings.NAME_REQUIRED }}
            </p>
          </div>
        </label>
        <label class="label">
          Email
          <input
            id="email"
            class="input"
            type="email"
            required
            formControlName="email"
            appEmailValidate />
          <div
            class="alert"
            *ngIf="email.invalid && (email.dirty || email.touched)">
            <p *ngIf="email.errors?.['required']">
              {{ registrationTemplateStrings.EMAIL_REQUIRED }}
            </p>
            <p *ngIf="email.errors?.['email']">
              {{ email.errors['email'].value }}
            </p>
          </div>
        </label>
        <label class="label">
          Password
          <input
            id="password"
            class="input"
            required
            minlength="8"
            [type]="currentPasswordInputType"
            formControlName="password" />
          <span class="password-icon" (click)="passwordViewRegistration()">
            <fa-icon class="" size="xs" [icon]="currentEyeIcon"> </fa-icon
          ></span>
          <div
            class="alert"
            *ngIf="password.invalid && (password.dirty || password.touched)">
            <p *ngIf="password.errors?.['required']">
              {{ registrationTemplateStrings.PASSWORD_REQUIRED }}
            </p>
            <p *ngIf="password.errors?.['minlength']">
              {{ registrationTemplateStrings.PASSWORD_LENGTH }}
            </p>
          </div>
        </label>
        <app-button text="Registration"></app-button>
      </fieldset>
    </form>
    <div class="question">
      <p>If you have an account you can</p>
      <a href="#" (click)="navigateToLogin($event)">Login</a>
    </div>
  </div>
</div>
