<div>
  <app-header> </app-header>
  <div class="registration_container">
    <form [formGroup]="formDataRegistration" (ngSubmit)="onSubmit()">
      <legend class="title">Registration</legend>
      <fieldset class="registration_fieldset">
        <label class="label" for="account_nickname">
          Name
          <input
            id="account_nickname"
            class="input"
            type="text"
            required
            formControlName="account_nickname" />
          <div
            class="alert"
            *ngIf="
              account_nickname.errors &&
              (account_nickname.dirty || account_nickname.touched)
            ">
            <p *ngIf="account_nickname.errors?.['required']">
              Name is required
            </p>
          </div>
        </label>
        <label class="label" for="account_email">
          Email
          <input
            id="account_email"
            class="input"
            type="email"
            required
            formControlName="account_email"
            appEmailValidate />
          <div
            class="alert"
            *ngIf="
              account_email.errors &&
              (account_email.dirty || account_email.touched)
            ">
            <p *ngIf="account_email.errors?.['required']">Email is required</p>
            <p *ngIf="account_email.errors?.['email']">
              {{ account_email.errors['email'].value }}
            </p>
          </div>
        </label>
        <label class="label" for="account_password">
          Password
          <input
            id="account_password"
            class="input"
            required
            minlength="8"
            [type]="hidePasswordFlag ? 'password' : 'text'"
            formControlName="account_password" />
          <span class="password-icon" (click)="passwordViewRegistration()">
            <fa-icon
              class=""
              size="xs"
              [icon]="hidePasswordFlag ? eyeIcon : eyeSlashIcon">
            </fa-icon
          ></span>
          <div
            class="alert"
            *ngIf="
              account_password.errors &&
              (account_password.dirty || account_password.touched)
            ">
            <p *ngIf="account_password.errors?.['required']">
              Password is required
            </p>
            <p *ngIf="account_password.errors?.['minlength']">
              Password must be at least 8 characters
            </p>
          </div>
        </label>
        <app-button text="Registration"></app-button>
      </fieldset>
    </form>
    <div class="question">
      <p>If you have an account you can</p>
      <a href="#" (click)="navigateToLogin($event)">Login</a>
    </div>
  </div>
</div>
