<div class="backdrop"></div>
<div class="modal">
  <nav class="navbar">
    <h1>{{ showObj.title }}</h1>
    <h3>
      <span class="caption">Authors: </span>{{ showObj.authors.join(', ') }}
      <span>{{ ' | ' }}</span>
      <span class="caption">Duration: </span>{{ showObj.duration * 60 * 1000 | date: 'HH:mm' }} hours
      <span>{{ ' | ' }}</span>
      <span class="caption">Created: </span>{{ showObj.creationDate | date: 'dd.MM.yyyy' }}
    </h3>
  </nav>
  <p>{{ showObj.description }}</p>
  <button class="button" (click)="closeModalButtonEvent()">Close</button>
</div>
