<div>
  <app-modal-window
    *ngIf="showModalFlag"
    [modalMessage]="modalMessage"
    (closeEvent)="routerPushButtonEvent()"></app-modal-window>
  <app-header> </app-header>
  <div class="login_container">
    <form
      class="login_form"
      (ngSubmit)="onSubmit()"
      [formGroup]="formDataLogin">
      <legend class="title">Login</legend>
      <fieldset class="login_fieldset">
        <label class="label">
          Email
          <input
            id="account_email"
            class="input"
            type="email"
            required
            formControlName="email"
            appEmailValidate />
          <div
            class="alert"
            *ngIf="email.errors && (email.dirty || email.touched)">
            <p *ngIf="email.errors?.['required']">
              {{ loginTemplateStrings.EMAIL_REQUIRED }}
            </p>
            <p *ngIf="email.errors?.['email']">
              {{ email.errors['email'].value }}
            </p>
          </div>
        </label>
        <label class="label">
          Password
          <input
            id="account_password"
            class="input"
            required
            minlength="8"
            [type]="currentPasswordInputType"
            formControlName="password" />
          <span class="password-icon" (click)="passwordViewLogin()">
            <fa-icon class="" size="xs" [icon]="currentEyeIcon"> </fa-icon
          ></span>
          <div
            class="alert"
            *ngIf="password.errors && (password.dirty || password.touched)">
            <p *ngIf="password.errors?.['required']">
              {{ loginTemplateStrings.PASSWORD_REQUIRED }}
            </p>
            <p *ngIf="password.errors?.['minlength']">
              {{ loginTemplateStrings.PASSWORD_LENGTH }}
            </p>
          </div>
        </label>
        <app-button text="Login"></app-button>
      </fieldset>
    </form>
    <div class="question">
      <p>If you don't have an account you can</p>
      <a href="#" (click)="navigateToRegistration($event)">Registration</a>
    </div>
  </div>
</div>
