<div>
  <app-header>
    <div>{{ account.email }}</div>
    <app-button
      [text]="buttonLogoutText"
      (clickButton)="logoutFunction()"></app-button>
  </app-header>
  <app-edit-form
    *ngIf="showAddFormFlag"
    [isEditForm]="isEditForm"
    (closeEvent)="showAddFormFlag = false"
    [buttonSubmitText]="addFormButtonSubmitText"
    [currentObj]="modalObj"></app-edit-form>
  <app-course-list> </app-course-list>
  <app-info
    *ngIf="isAdmin"
    [option]="infoMessage"
    [isShowMessage]="!courses.length"
    (addCourseEvent)="addCourseFunction()">
    <app-button
      (clickButton)="addCourseFunction()"
      routerLink="add"
      text="Add course"></app-button
  ></app-info>
</div>
