<div>
  <app-header>
    <div>{{ account.account_email }}</div>
    <app-button
      [text]="buttonLogoutText"
      (clickButton)="logoutFunction()"></app-button>
  </app-header>
  <app-search
    placeholder="Type course name ..."
    (searchEvent)="searchCourse($event)"></app-search>
  <app-edit-form
    *ngIf="showAddFormFlag"
    (closeEvent)="showAddFormFlag = false"
    [buttonSubmitText]="addFormButtonSubmitText"
    [currentObj]="modalObj"></app-edit-form>
  <app-course-list [courses]="coursesByFilter"> </app-course-list>
  <app-info
    [option]="infoMessage"
    [isShowMessage]="!courses.length"
    (addCourseEvent)="addCourseFunction()">
    <app-button
      (clickButton)="addCourseFunction()"
      text="Add course"></app-button
  ></app-info>
</div>
